@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;900&display=swap');
/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Roboto', sans-serif; */
.container{
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
}
img{
    width: 300px;
    height: auto;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.titulo{
    font: 400 48px 'Bebas Neue', sans-serif;
    color: #344e41;
}
.form__group {
    position: relative;
    width: 300px;
  }
  
  .form__field {
    border: 1px solid silver !important;
    border-radius: 5px;
    box-sizing: border-box;
    color: #313a46;
    height: 40px;
    padding: 0rem 15px;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    top: 10px;
    border-right: none;
    border-left: none;
  }
  
  .form__label {
    background-color: white;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    color: #9b9b9b;
    display: block;
    font-size: .9em;
    margin-left: 10px;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: -10px;
    transition: 0.2s;
  }
  
  .form__field:focus {
    border: 1px solid #3a5a40 !important;
    outline: none;
  }
  
  .form__field:focus ~ .form__label {
    background-color: white;
    border-right: 1px solid #3a5a40;
    border-left: 1px solid #3a5a40;
    color: #3a5a40;
    font-size: .9em;
    margin-left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -10px;
    transition: 0.2s;
  }
#cadastre{
    font: 400 30px 'Bebas Neue', sans-serif;
    color: #344e41;
}
/* inspired form gumroad website */
.button {
    --bg: #000;
    --hover-bg: #a3b18a;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }
.botoes{
    margin-top: 50px;
}
.subTitulo{
    font: 400 20px 'Roboto', sans-serif;
}
.tituloLivro{
    font: 900 28px 'Roboto', sans-serif;
}
.botoes-carrossel{
    margin-top: 30px;
}
#carrosselDiv{
    padding: 30px;
}
section{
    margin-left: 40px;
}